
@supports(backdrop-filter: none){
    .blur-background{
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0);  
    }
}
input::placeholder,
textarea::placeholder{
    font-family: "BPG Mrgvlovani", poppins;
    color:rgba(255, 252, 95, 0.897);
    text-indent: 15px;
}
.shorten{
    height:100px;
    border-radius:0;
}
.fontSize{
    font-size:12px;
}
